h1 {
    font-size: 3em;
}

h2{
    font-size: 2.8em;
    padding-top: 1.5em;
    padding-bottom: 0.7em;
}

h3{
    font-size: 1.8em;
}

p, li, a{
    font-size: 1.1em;
}

div.titulo{
    margin-top: 70px;
}

ul.navbar-nav a{
    color: rgba(0,0,0,0.25) !important;
    
}

ul.navbar-nav a{
    color: #14213d !important;
    
}

ul.navbar-nav a:hover{
    background-color: #fca311;
    border: 1px solid #fca311;
    color: white !important;
    box-shadow: 0.1em 0.4em #14213d, 0.2em 0.8em #fca311;
}

/*--------------------Sección de los hobbies--------------------------------------*/

#Hobbies {
    color: #fca311;
    text-shadow: 0.05em 0.05em white,  0.13em 0.13em black;
}

div.Hobbies-cont {
    background-color: #e5e5e5;
    padding-bottom: 3em;
}

div.Hobbies-cont p{
    color: black;
    border-left: 4px solid #14213d;
    padding: 0 8% 0 5%;
}

div.Hobbies-cont a{
    color: #fca311;
    font-size: 1em;
}

div.Hobbies-cont h3{
    color: #14213d;
}


/*-------- Sección de About me------------------------------------------------*/
/* Color de fondo*/
div.About-cont{
    background-color: #fca311;
    padding-bottom: 3em;
}

div.About-cont ul{
    list-style: none;
}

div.About-cont li::before{
    content: "•	";
    color: #14213d;
}

/*Color de texto de listas*/
div.About-cont li{
    color: white;
    margin-left: -15px;
    

}

/* Color de subtitulos*/
div.About-cont h3{
    color: #14213d;
}
/*Color del titulo About*/
#About {
    color: white;
    text-shadow: 0.05em 0.05em #14213d,  0.13em 0.13em #e5e5e5;
}

/*-------- Sección de Home me------------------------------------------------*/
/* Color de fondo*/
div.Home-cont{
    background-color: #14213d;
}

/*Color de texto de listas*/
div.Home-cont p{
    color: white;
    margin: 0 0 0 0 !important;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

img {
    padding: 15px;
}

/*---------------------------Sección de Projects-----------------------------*/
/**/
div.Project-cont{
    background-color: white;
    padding-bottom: 3em;
}

#Projects {
    color: #14213d;
    text-shadow: 0.05em 0.05em #fca311,  0.13em 0.13em #e5e5e5;
}

#imgPersonal{
    padding: 0 0 0 0;
    box-shadow: 0.4em 0.4em #14213d, 0.8em 0.8em #fca311;
}

/*---------------------------Sección de Contact-----------------------------*/
/**/
div.Contact-cont{
    background-color: white;
    padding-bottom: 3em;
}

#Contact {
    color: #14213d;
    text-shadow: 0.08em 0.08em #fca311,  0.19em 0.19em #e5e5e5;
    text-align: center !important;
    padding-bottom: ;
}

div.card-the-form {
    
}

#message{
    min-height: 6.5em !important;
    max-height: 8em !important;
    align-content: flex-start !important;
}

div.footer {
    background-color: #14213d;
    justify-content: center !important;
    line-height: 1.5;
    text-align: center;
    padding: 1em 0 0.3em 0;
}

div.footer p{
    display: inline-block;
    color: white;
    
}

#Submit{
    background-color: white;
    color: #14213d;
    border: 1px solid #14213d;
    margin-bottom: 3em;
}

#Submit:hover{
    background-color: #fca311;
    border: 1px solid #fca311;
    color: white;
    box-shadow: 0.4em 0.4em #14213d, 0.8em 0.8em #fca311;
}

input:hover, textarea:hover{
    border: 4px solid #fca311;
    box-shadow: 0.4em 0.4em #14213d;
}

div.form-the-contact{
    border: 2px solid #e5e5e5;
    border-radius: 20px;
    margin-top: 2em;
}

#gihub_logo {
    background-color: white;
}

#lghg {
    height: 65px;
    padding: 0 -10px;
}

#lglk{
    height: 63px;
    padding: 0 -10px;
    
}

#lge {
    height: 72px;
}